$slider-control-radius: 4px;

.slider {
  position: absolute;
  top: $system-status-height;
  bottom: $out-app-bottom-height;
  left: 0;
  width: 100%;
  padding: 0 $spacing-smer / 2; //是padding-box,定位点在padding的左上角
  // padding用百分号适配可能会更好一点,但是因为小数点后面位数太高,page间可能会有一像素的差别
}
.slider-page-container {
  width: 100%;
  height: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  display: flex;
  overflow: hidden;
}
.slider-page {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 $spacing-smer;
}

.slider-control {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: $slider-control-radius * 2;
  text-align: center;
}
  .slider-control-btn {
    display: inline-block;
    width: $slider-control-radius * 2;
    height: $slider-control-radius * 2;
    border-radius: $slider-control-radius;
    background-color: $clr-bg-lighter;
    margin: 0 $spacing-smer;
    &.selected {
      background-color: $clr-primary;
    }
  }
