.slider {
  position: absolute;
  top: $system-status-height;
  bottom: $out-app-bottom-height;
  left: 0;
  width: 98.4%;
  margin: 0 0.8%;
}
  .slider-page {
    width: 100%;
    height: 100%;
    display: inline-block;
    flex-shrink: 0;
    padding: 0 $spacing-smer;
  }