#lang-config {
  position: absolute;
  display: block;
  width: 75px;
  height: 39px;
  left: 15px;
  bottom: 15px;
  opacity: 0.4;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  background-image: url('../image/app-button.png');
  background-position-x: -224px;
  
  image-rendering: pixelated;
  background-size: 400%;

  &:hover {
      opacity: 1;
  }

  &.lang-zh {
      background-position-y: -120px;
  }

  &.lang-en {
      background-position-y: -80px;
  }
}