%text-shadow {
  text-shadow: 1px 1px rgba($clr-primary-dark, 0.5);
}
%text-shadow-dark {
  text-shadow: 1px 1px rgba($clr-primary-darker, 15%);
}
%text-shadow-light {
  text-shadow: 1px 1px rgba($clr-secondary-light, 0.5);
}




// reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 14px;
}
body {
  position: relative;
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  background-color: $clr-bg-dark;
  -webkit-font-smoothing: antialiased;
}