// reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 14px;
}
body {
  position: relative;
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  background-color: $clr-bg-dark;
  -webkit-font-smoothing: antialiased;
}
