.toast-wrap {
  opacity: 0;
  position: fixed;
  bottom: $out-app-bottom-height + 30px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.toast-msg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px 8px;
  border-radius: 5px;
}
.toastAnimate {
  animation: toastKF 2s;
}
@keyframes toastKF {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.8;
    z-index: 15;
  }
  50% {
    opacity: 0.8;
    z-index: 15;
  }
  66% {
    opacity: 0.8;
    z-index: 15;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
