$color: (
  "primary": #494F4E,
  "primary-lighter": #B6B0B1,
  "primary-light": #727B79,
  "primary-dark": #4D4D4D,
  "primary-darker": #373B3B,

  "secondary-light": #336666,
  "secondary-dark": #374F4B,

  "tertiary": #FFECFC,
);

$base-font-size: 1rem;
$font-sizes: (
  "md": 1,
  "sm": 0.9286,
  "xs": 0.8571,
  "lg": 1.0714,
);

$spacing-base-size: 1.0714rem;
$spacing-sizes: (
  "md": 1,
  "lg": 1.3333, 
  "sm": 0.6667, 
  "xs": 0.4, 
  "h": 1.2, 
  "inline": 0.3333,
);

$radius: $distance-sm;
$radius-lg: $distance-lg;
$radius-sm: $distance-inline;