$clr-primary:          #786f69;
$clr-primary-light:    #d1c4af;
$clr-primary-dark:     #585356;
$clr-primary-darker:   #504a4b;

$clr-secondary-light:  #a39990;
$clr-secondary-dark:   #585153;

$clr-mask: transparentize($clr-primary-dark, 0.2);

$clr-bg-light: $clr-secondary-light;
$clr-bg-lighter: lighten($clr-secondary-light, 10%);
$clr-bg-dark: $clr-secondary-dark;

$clr-text: $clr-primary-dark;
$clr-text-light: $clr-primary;
$clr-text-lighter: $clr-secondary-light;
$clr-text-lightest: lighten($clr-primary-light, 10%);
$clr-text-dark: $clr-primary-darker;

$clr-border: $clr-primary-darker;
$clr-border-light: $clr-secondary-dark;
$clr-border-dark: darken($clr-primary-darker, 10%);


$fs-basic: 1rem;
$fs-sm: 0.9286rem;
$fs-xs: 0.8571rem;
$fs-lg: 1.0714rem;


$spacing-basic: 1.0714rem;
$spacing-lg: 1.4286rem; 
$spacing-sm: 0.7143rem; 
$spacing-xs: 0.4286rem; 
$spacing-h: 1.2857rem; 
$spacing-inline: 0.3571rem;

$radius: $spacing-sm;
$radius-lg: $spacing-lg;
$radius-sm: $spacing-inline;

$system-status-height: 1.7857rem;
$out-app-bottom-height: 5.3571rem;
$app-size: 3.4286rem;

$pixel-width: 0.1429rem;

$mobile-width: 25.7143rem;
$mobile-head-height: 3.9286rem;
$bottom-input-height: 3.2143rem;

$msg-radius: 1.4286rem;
$msg-animation-duration: 0;//.4s;

$prompt-animation-duration: 0;// 0.3s;
